$content-text-size-pc: 1.4vw;


b {
  color: #fea30b;
  font-weight: bolder;
}
.button {
  z-index: 11;
  width: 10vw;
  height: 7vh;
  // background-color: cornflowerblue;
  border-radius: 20px;
  padding: 2%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;
  font-weight: bolder;
}

.color {
  &-orange {
    background-color: #fea30b;
    &:hover {
      background-color: #ff7a00;
    }
  }

  &-cyan {
    background-color: #1ab5c1;
    &:hover {
      background-color: #0098a4;
    }
  }
}
