$content-text-size-pc: 1.4vw;

.PasserbydialogArea {
  opacity: 1;
  position: absolute;
  width: 60vw;
  height: 20vh;
  left: 20vw;
  bottom: 10vh;
  & * {
    pointer-events: all;
  }
  &-photo {
    position: relative;
    width: 45vw;
    left: 7.5vw;
    top: -3%;
  }
  &-dialog {
    position: relative;
    width: 45vw;
    height: 20vh;
    left: 7.5vw;
    background-color: aliceblue;

    border-radius: 15px;
    padding: 2.5vw;
    font-size: 1.5vw;
    color: #276a70;
    @media screen and (min-width: 1024px) {
      font-size: $content-text-size-pc;
      line-height: $content-text-size-pc * 1.8;
      letter-spacing: $content-text-size-pc * 0.2;
      border-radius: 30px;
    }
    ::v-deep b {
      color: #fea30b;
      font-weight: bolder;
    }
  }
  &-group {
    position: relative;
    width: 45vw;
    height: 10vh;
    // background-color: aquamarine;
    left: 7.5vw;
    top: -20%;
    display: flex;
    justify-content: space-around;
  }
}
b {
  color: #fea30b;
  font-weight: bolder;
}
.button {
  z-index: 11;
  width: 13vw;
  height: 10vh;
  // background-color: cornflowerblue;
  border-radius: 15px;
  padding: 2%;
  @media screen and (min-width: 1024px) {
    width: 10vw;
    height: 7vh;
    // background-color: cornflowerblue;
    border-radius: 20px;
  }

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;
  font-weight: bolder;
}

.color {
  &-orange {
    background-color: #fea30b;
    &:hover {
      background-color: #ff7a00;
    }
  }

  &-cyan {
    background-color: #1ab5c1;
    &:hover {
      background-color: #0098a4;
    }
  }
}
.mission {
  position: fixed;
  top: 2vh;
  width: 20vw;
  height: 9vh;
  border-radius: 30px;
  left: 50vw;
  transform: translateX(-50%);
  @media screen and (min-width: 1024px) {
    width: 15vw;
    height: 5vh;
    border-radius: 30px;
  }

  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: large;
  animation-duration: 1s;
  background-color: #fea30b;
}

.dialogArea {
  // background-color: aqua;
  position: fixed;
  width: 60vw;
  height: 60vh;
  left: 15vw;
  bottom: 20vh;
  & * {
    pointer-events: all;
  }
  &-photo {
    position: relative;
    width: 45vw;
    left: 7.5vw;
    top: -3%;
  }
  &-dialog {
    position: relative;
    width: 45vw;
    height: 20vh;
    left: 7.5vw;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 2.2vw;
    font-size: 1.5vw;
    color: #276a70;
    @media screen and (min-width: 1024px) {
      font-size: $content-text-size-pc;
      line-height: $content-text-size-pc * 1.8;
      letter-spacing: $content-text-size-pc * 0.2;
    }

    & > b {
      color: #fea30b;
      font-weight: bolder;
    }
  }
  &-group {
    position: relative;
    width: 45vw;
    height: 10vh;
    // background-color: aquamarine;
    left: 7.5vw;
    top: -5%;
    display: flex;
    justify-content: space-around;
  }
}
#goBtn {
  z-index: 100;
  left: 5vh;
  bottom: 5vh;
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 20px;
  transition: border-radius 0.3s;
  &:active {
    border-radius: 50px;
    transition: border-radius 0.3s;
  }
}
